.formContainer {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  /* background-image: url(../../assets/Images/reservation\ picture.png); */
  /* align-items: center; */
}
.formDetails {
  width: 502px;
  height: 600px;
  margin-top: 40px;
  margin-bottom: 130px;
  /* top: 152px;
  left: 469px;
  gap: 0px;
  opacity: 0px; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  background-color: #FFFEFD;
}
.formDetails h1{
    margin: 29px 75.6px 22px 75.6px;
    text-align: center;
    font-weight: 700;
    font-size: 32px;
}
h1 span{
    color: #990000;
    ;
}
form{
    /* display: flex; */
    /* flex-direction: column; */
    margin-left: 105px;
    margin-right: 105px;
}
label{
    font-weight: 400;
    font-size: 16px;
    color: #1A0000;
} 
input{
    margin: 8px 0px;
    background: #FFE5E5;
    border-radius: 12px;
    border: none;
    outline: none;
    padding: 10px;
    width: 292px;
/* height: 48px; */


}
form >button{
    display: block;
    margin: 32px auto;
    width: 180px;
}

@media screen and (max-width: 450px) {
    .formDetails h1{
        font-size: 24px;
    }
    label{
        font-size: 14px;
    }
    input{
        border-radius: 8px;
        border: 1px solid #1A000080;
    }
    form >button{
        border-radius: 24px;
        height: 48px;
    }
}