@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";
*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: space-between;
    margin: 2em;
}

.logo{
    display: flex;
    margin-top: 2em;

}
.logo h1{
    margin-left: 10px;
    margin-bottom: 5px;
}
.logo span{
    color:#990000 ;
}

.logo img{

position: relative;
width: 80px;
height: 48px;
}

nav{
margin-top: 3em;
margin-right: 2em;
}

nav a{
    text-decoration: none;
    display: inline;
    padding: 10px;
    color: #000;
    font-size: 20px;
  
}

.flex-row-3{
    margin-top: 3em;
   
}

button{
    background-color: #990000;
    color: #fff;
    outline: none;
    border: none;
    width: 80px;
    height: 30px;
    border-radius: 20px;
}
.home-text{
    margin-top: 5em;
    margin-left: 2em;
}
.home-text h1{
    line-height: 1.5em;
}
.home-text h1 span{
    color: #990000;
}

.home-text button{
    margin: 15px;
    width: 100px;
}