@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";
*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: space-between;
    margin: 2em;
}

.logo{
    display: flex;
    margin-top: 2em;

}
.logo h1{
    margin-left: 10px;
    margin-bottom: 5px;
}
.logo span{
    color:#990000 ;
}

.logo img{

position: relative;
width: 80px;
height: 48px;
}

nav{
margin-top: 3em;
margin-right: 2em;
}

nav a{
    text-decoration: none;
    display: inline;
    padding: 10px;
    color: #000;
    font-size: 20px;
  
}

.flex-row-3{
    display: flex;
    gap: 13px;
    margin-top: 3em;
   
}
.flex-row-3 p{
    margin-top: 9px;
    font-size: 20px;
}
button{
    background-color: #990000;
    color: #fff;
    outline: none;
    border: none;
    width: 80px;
    height: 30px;
    border-radius: 20px;
}

button:hover{
    background-color: transparent;
    color: #990000;
    outline: none;
    border: 1px solid #990000;
    width: 90px;
    height: 30px;
    border-radius: 20px;

}
.home-text{
    margin-top: 5em;
    margin-left: 2em;
}
.home-text h1{
    line-height: 1.5em;
    font-size: 2em;
}
.home-text h1 span{
    color: #990000;
}


.home-container{
    display: flex;
}

.home-container .row-2 img{
position: absolute;
width: 608px;
height: 350px;
left: 732px;
border-radius: 19px;

}
.call-to-action{
    display: flex;
    margin: 2em;  
}

.call-to-action button{
    margin: 15px;
    width: 100px;
}
.call-to-action .btn-2{
    background-color: transparent;
    color: #990000;
    outline: none;
    border: 1px solid #990000;
    width: 90px;
    height: 30px;
    border-radius: 20px;

}
.call-to-action .btn-2:hover{
    background-color: #990000;
    color: #fff;
    outline: none;
    border: none;
    width: 90px;
    height: 30px;
    border-radius: 20px;
}

.about{
    display: flex;
    justify-content: space-between;
    margin: 2em;
}
.about-row-1 h1{
position: absolute;
width: 738px;
height: 134px;
left: 181px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 140%;
color: #000000;


}
.about-row-1 span{
    color: #990000;
    line-height: 2em;
}
.about-row-2{
    margin: 2em;
}
.about-row-2 h3{
text-align: center;
margin-bottom: 2em;
margin-left: 2em;
width: 397px;
height: 84px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 140%;
color: #000000;
}

.about-row-2 img{
width: 600px;
height: 300px;
}

.section-2{
    display: flex;
    justify-content: space-between;
    margin: 2em;
}
.about-section-2-row-1{
    display: flex;
    margin-left: 2em;
    margin-bottom: 3em;
    
}

.about-section-2-row-1 img{
    width: 300px;
}

.about-section-2-row-1 h2{
position: absolute;
width: 316px;
height: 91.78px;
margin-left: 4em;
margin-top: 4em;
font-weight: 700;
font-size: 48px;
}

.about-section-2-row-2 p{
    width: 40vw;
}

.about-section-2-row-2 .p-1{

width: 650px;
left: 627px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 1.5em;
color: #000000;
margin-bottom: 1.5em;
}

.about-section-2-row-2 .p-2{

width: 713px;
left: 627px;
top: 1066px;
margin-bottom: 1.5em;
font-family: 'DM Sans';
font-style: normal;
font-weight: 100;
font-size: 20px;
line-height: 1.5em;
color: #3b3838;


}

.about-section-2-row-2 .p-3{

width: 713px;
left: 630px;
top: 1298px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 100;
font-size: 20px;
line-height: 1.5em;
color:#3b3838;
}

.section-3{
background: #FDFAF7;
text-align: center;
}

.section-3 span{
    color:#3b3838;
    font-weight: 700;
}

.section-3 h1{
    padding-top: 2em;
    color: #000000;
    font-size: 48px;
    font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
text-align: center;
line-height: 140%;;
}

.section-3 h3{
font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 140%;
text-align: center;
color: #3b3838;
}

/* .section-3 .p-1{
position: absolute;
width: 250px;
height: 80px;
left: 181px;
background: #D9D9D9;
} */